<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px;">Tipos de proyecto a entregar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 100px;">
  <div class="col-md-6  col-12" style="cursor:pointer;" [routerLink]="['/home/proyectos/entregar-ante-proyecto']">
    <div class="info-box bg-info">
      <span class="info-box-icon"><i class="fa fa-book"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Ante proyectos</span>
        <div class="progress">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
        <span class="progress-description">
          Ver mas
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-6  col-12" style="cursor:pointer;" [routerLink]="['/home/proyectos/entregar']">
    <div class="info-box bg-success">
      <span class="info-box-icon"><i class="fa fa-file"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Proyecto de grado</span>
        <div class="progress">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
        <span class="progress-description">
          Ver mas
        </span>
      </div>
    </div>
  </div>
</div>
