<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px">Asignación de proyectos</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']" style="cursor: pointer">Inicio</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Lista de proyectos({{EtapasProyecto.length}})</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" (click)="pageinaActual = 1" name="filtro" placeholder="Buscar..."
              [(ngModel)]="filtro">
          </div>
          <div class="col-md-2">
            <button data-toggle="modal" data-target="#modal-lg" type="button" class="btn btn-primary btn-block"><i
                class="fas fa-users"></i> Asignar</button>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 10px;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Acción</th>
                <th>Estado</th>
                <th>Fase</th>
                <th>Proyecto</th>
                <th>Total estudiantes</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of EtapasProyecto | filter: filtro | paginate: { itemsPerPage: 5, currentPage: pageinaActual}  ">
                <td>
                  <button *ngIf="data.etapa === 'ANTE PROYECTO'" data-toggle="modal" data-target="#modal-xl" (click)="DatosAnteProyecto(data);" type="button"
                    class="btn btn-warning btn-block"><i class="fas fa-edit"></i>
                    Editar</button>
                    <button *ngIf="data.etapa === 'PROYECTO FINAL'" data-toggle="modal" data-target="#modal-xl2" (click)="DatosProyectoFinal(data);" type="button"
                    class="btn btn-warning btn-block"><i class="fas fa-edit"></i>
                    Editar</button>
                </td>
                <td>{{data.estado}}</td>
                <td>{{data.etapa}}</td>
                <td>{{data.titulo}}</td>
                <td>{{data.StudentProjects.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="pageinaActual = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Asignar (ante proyecto)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="NewAsignacionAnteProyecto" id="NewAsignacionAnteProyecto" autocomplete="off">
                  <div class="row">
                    <!-- Inicio carga de titulo de proyecto -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" style="color: #626262;">Título Proyecto: </label>
                        <div class="input-group">
                          <ng-select style="width:85%;" [virtualScroll]="true" formControlName="titulo_temporal"
                            [items]="ProjectPendientes" bindLabel="titulo" bindValue="id"
                            placeholder="Seleccionar proyecto inscrito ">
                            <ng-template ng-option-tmp let-item="item">
                              <div style="white-space: normal!important;" title="{{item.titulo}}">
                                {{item.titulo}}</div>
                            </ng-template>
                          </ng-select>
                          <div (click)="AgregarTituloAnteProyecto();" title="Agregar" style="cursor: pointer;"
                            class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" style="margin-top: 10px;" *ngIf="NewAsignacionAnteProyecto.value.titulo.length > 0">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width: 15%;">Acción</th>
                            <th style="width: 85%;">Proyecto</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of NewAsignacionAnteProyecto.value.titulo">
                            <td>
                              <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalTitulo(data);" title="Eliminar"
                                style="cursor: pointer;text-align: center;" class="input-group-addon">
                                <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                              </div>
                            </td>
                            <td>{{data.nombre}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Fin carga de titulo de proyecto -->
                    <!-- Inicio carga de estudiantes -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" style="color: #626262;">Estudiantes: </label>
                        <div class="input-group">
                          <ng-select style="width:85%;" [virtualScroll]="true" formControlName="estudiante_temporal"
                            [items]="ListaEstudiantes" bindLabel="nombre" bindValue="id"
                            placeholder="Seleccionar el estudiante a cargo del proyecto ">
                            <ng-template ng-option-tmp let-item="item">
                              <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                                {{item.nombre}} {{item.apellidos}}</div>
                            </ng-template>
                          </ng-select>
                          <div (click)="AgregarEstudianteAnteProyecto();" title="Agregar" style="cursor: pointer;"
                            class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" style="margin-top: 10px;" *ngIf="NewAsignacionAnteProyecto.value.estudiantes.length > 0">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width: 15%;">Acción</th>
                            <th style="width: 85%;">Estudiante</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of NewAsignacionAnteProyecto.value.estudiantes">
                            <td>
                              <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalEstudiante(data);" title="Eliminar"
                                style="cursor: pointer;text-align: center;" class="input-group-addon">
                                <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                              </div>
                            </td>
                            <td>{{data.nombre}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Fin carga de estudiantes -->
                    <!-- Inicio carga director ante proyecto -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" style="color: #626262;">Director: </label>
                        <div class="input-group">
                          <ng-select style="width:85%;" [virtualScroll]="true" formControlName="director_temporal"
                            [items]="ListaDirectoresProyectos" bindLabel="nombre" bindValue="id"
                            placeholder="Seleccionar el director del ante proyecto ">
                            <ng-template ng-option-tmp let-item="item">
                              <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                                {{item.nombre}} {{item.apellidos}}</div>
                            </ng-template>
                          </ng-select>
                          <div (click)="AgregarDirectorAnteProyecto();" title="Agregar" style="cursor: pointer;"
                            class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" style="margin-top: 10px;" *ngIf="NewAsignacionAnteProyecto.value.director.length > 0">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width: 15%;">Acción</th>
                            <th style="width: 85%;">Director</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of NewAsignacionAnteProyecto.value.director">
                            <td>
                              <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalDirector(data);" title="Eliminar"
                                style="cursor: pointer;text-align: center;" class="input-group-addon">
                                <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                              </div>
                            </td>
                            <td>{{data.nombre}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Fin carga director ante proyecto -->
                    <!-- Inicio carga evaluadores ante proyecto -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" style="color: #626262;">Evaluadores: </label>
                        <div class="input-group">
                          <ng-select style="width:85%;" [virtualScroll]="true" formControlName="evaluador_temporal"
                            [items]="ListaEvaluadoresProyectos" bindLabel="nombre" bindValue="id"
                            placeholder="Seleccionar el director del ante proyecto ">
                            <ng-template ng-option-tmp let-item="item">
                              <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                                {{item.nombre}} {{item.apellidos}}</div>
                            </ng-template>
                          </ng-select>
                          <div (click)="AgregarEvaluadoresAnteProyecto();" title="Agregar" style="cursor: pointer;"
                            class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" style="margin-top: 10px;" *ngIf="NewAsignacionAnteProyecto.value.evaluador.length > 0">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width: 15%;">Acción</th>
                            <th style="width: 85%;">Evaluador</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of NewAsignacionAnteProyecto.value.evaluador">
                            <td>
                              <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalEvaluador(data);" title="Eliminar"
                                style="cursor: pointer;text-align: center;" class="input-group-addon">
                                <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                              </div>
                            </td>
                            <td>{{data.nombre}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Fin carga evaluadores ante proyecto -->
                  </div>
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button data-dismiss="modal" (click)="RegistrarAsignacion();" type="button"
                  class="btn btn-primary">Guardar</button>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="UpdateAsignacionAnteProyecto" id="UpdateAsignacionAnteProyecto" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Editar fase (ante proyecto)</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
                   <!-- Inicio carga de titulo de proyecto -->
                   <div class="col-md-12">
                    <p>{{UpdateAsignacionAnteProyecto.value.name_titulo}}</p>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field appearance="fill" style="width: 100%;">
                      <mat-label>Estado: </mat-label>
                      <select class="form-control" matNativeControl required formControlName="estado">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <!-- Fin carga de titulo de proyecto -->
                  <!-- Inicio carga de estudiantes -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" style="color: #626262;">Estudiantes: </label>
                      <div class="input-group">
                        <ng-select style="width:85%;" [virtualScroll]="true" formControlName="estudiante_temporal"
                          [items]="ListaEstudiantes" bindLabel="nombre" bindValue="id"
                          placeholder="Seleccionar el estudiante a cargo del proyecto ">
                          <ng-template ng-option-tmp let-item="item">
                            <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                              {{item.nombre}} {{item.apellidos}}</div>
                          </ng-template>
                        </ng-select>
                        <div (click)="AgregarEstudianteAnteProyectoEdit();" title="Agregar" style="cursor: pointer;"
                          class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateAsignacionAnteProyecto.value.estudiantes.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th style="width: 15%;">Acción</th>
                          <th style="width: 85%;">Estudiante</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of UpdateAsignacionAnteProyecto.value.estudiantes">
                          <td>
                            <div *ngIf="data.bandera === 'UPDATE'" (click)="EliminarTemporalEstudiante2(data);" title="Eliminar"
                              style="cursor: pointer;text-align: center;" class="input-group-addon">
                              <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                            </div>
                            <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalEstudiante1(data);" title="Eliminar"
                            style="cursor: pointer;text-align: center;" class="input-group-addon">
                            <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                          </div>
                          </td>
                          <td>{{data.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Fin carga de estudiantes -->
                  <!-- Inicio carga director ante proyecto -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" style="color: #626262;">Director: </label>
                      <div class="input-group">
                        <ng-select style="width:85%;" [virtualScroll]="true" formControlName="director_temporal"
                          [items]="ListaDirectoresProyectos" bindLabel="nombre" bindValue="id"
                          placeholder="Seleccionar el director del ante proyecto ">
                          <ng-template ng-option-tmp let-item="item">
                            <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                              {{item.nombre}} {{item.apellidos}}</div>
                          </ng-template>
                        </ng-select>
                        <div (click)="AgregarDirectorAnteProyectoEdit();" title="Agregar" style="cursor: pointer;"
                          class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateAsignacionAnteProyecto.value.director.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th style="width: 15%;">Acción</th>
                          <th style="width: 85%;">Director</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of UpdateAsignacionAnteProyecto.value.director">
                          <td>
                            <div *ngIf="data.bandera === 'UPDATE'" (click)="EliminarTemporalDirectorEdit(data);" title="Eliminar"
                              style="cursor: pointer;text-align: center;" class="input-group-addon">
                              <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                            </div>
                            <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalDirectorEdit2(data);" title="Eliminar"
                            style="cursor: pointer;text-align: center;" class="input-group-addon">
                            <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                          </div>
                          </td>
                          <td>{{data.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Fin carga director ante proyecto -->
                  <!-- Inicio carga evaluadores ante proyecto -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" style="color: #626262;">Evaluadores: </label>
                      <div class="input-group">
                        <ng-select style="width:85%;" [virtualScroll]="true" formControlName="evaluador_temporal"
                          [items]="ListaEvaluadoresProyectos" bindLabel="nombre" bindValue="id"
                          placeholder="Seleccionar el director del ante proyecto ">
                          <ng-template ng-option-tmp let-item="item">
                            <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                              {{item.nombre}} {{item.apellidos}}</div>
                          </ng-template>
                        </ng-select>
                        <div (click)="AgregarEvaluadoresAnteProyectoEdit();" title="Agregar" style="cursor: pointer;"
                          class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateAsignacionAnteProyecto.value.evaluador.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th style="width: 15%;">Acción</th>
                          <th style="width: 85%;">Evaluador</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of UpdateAsignacionAnteProyecto.value.evaluador">
                          <td>
                            <div *ngIf="data.bandera === 'UPDATE'" (click)="EliminarTemporalEvaluadorEdit(data);" title="Eliminar"
                              style="cursor: pointer;text-align: center;" class="input-group-addon">
                              <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                            </div>
                            <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalEvaluadorEdit2(data);" title="Eliminar"
                            style="cursor: pointer;text-align: center;" class="input-group-addon">
                            <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                          </div>
                          </td>
                          <td>{{data.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Fin carga evaluadores ante proyecto -->
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button (click)="UpdateAnteProyecto();" type="button" class="btn btn-primary"
            data-dismiss="modal">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-xl2">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="UpdateAsignacionProyectoFinal" id="UpdateAsignacionProyectoFinal" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Editar fase (Proyecto final)</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
                   <!-- Inicio carga de titulo de proyecto -->
                   <div class="col-md-12">
                    <p>{{UpdateAsignacionProyectoFinal.value.name_titulo}}</p>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field appearance="fill" style="width: 100%;">
                      <mat-label>Estado: </mat-label>
                      <select class="form-control" matNativeControl required formControlName="estado">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <!-- Fin carga de titulo de proyecto -->
                  <!-- Inicio carga de estudiantes -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" style="color: #626262;">Estudiantes: </label>
                      <div class="input-group">
                        <ng-select style="width:85%;" [virtualScroll]="true" formControlName="estudiante_temporal"
                          [items]="ListaEstudiantes" bindLabel="nombre" bindValue="id"
                          placeholder="Seleccionar el estudiante a cargo del proyecto ">
                          <ng-template ng-option-tmp let-item="item">
                            <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                              {{item.nombre}} {{item.apellidos}}</div>
                          </ng-template>
                        </ng-select>
                        <div (click)="AgregarEstudianteProyectoFinalEdit();" title="Agregar" style="cursor: pointer;"
                          class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateAsignacionProyectoFinal.value.estudiantes.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th style="width: 15%;">Acción</th>
                          <th style="width: 85%;">Estudiante</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of UpdateAsignacionProyectoFinal.value.estudiantes">
                          <td>
                            <div *ngIf="data.bandera === 'UPDATE'" (click)="EliminarTemporalEstudianteFinal2(data);" title="Eliminar"
                              style="cursor: pointer;text-align: center;" class="input-group-addon">
                              <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                            </div>
                            <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalEstudianteFinal1(data);" title="Eliminar"
                            style="cursor: pointer;text-align: center;" class="input-group-addon">
                            <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                          </div>
                          </td>
                          <td>{{data.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Fin carga de estudiantes -->
                  <!-- Inicio carga director ante proyecto -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" style="color: #626262;">Director: </label>
                      <div class="input-group">
                        <ng-select style="width:85%;" [virtualScroll]="true" formControlName="director_temporal"
                          [items]="ListaDirectoresProyectos" bindLabel="nombre" bindValue="id"
                          placeholder="Seleccionar el director del ante proyecto ">
                          <ng-template ng-option-tmp let-item="item">
                            <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                              {{item.nombre}} {{item.apellidos}}</div>
                          </ng-template>
                        </ng-select>
                        <div (click)="AgregarDirectorProyectoFinalEdit();" title="Agregar" style="cursor: pointer;"
                          class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateAsignacionProyectoFinal.value.director.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th style="width: 15%;">Acción</th>
                          <th style="width: 85%;">Director</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of UpdateAsignacionProyectoFinal.value.director">
                          <td>
                            <div *ngIf="data.bandera === 'UPDATE'" (click)="EliminarTemporalDirectorProyectoEdit(data);" title="Eliminar"
                              style="cursor: pointer;text-align: center;" class="input-group-addon">
                              <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                            </div>
                            <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalDirectorFinalEdit2(data);" title="Eliminar"
                            style="cursor: pointer;text-align: center;" class="input-group-addon">
                            <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                          </div>
                          </td>
                          <td>{{data.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Fin carga director ante proyecto -->
                  <!-- Inicio carga evaluadores ante proyecto -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label" style="color: #626262;">Evaluadores: </label>
                      <div class="input-group">
                        <ng-select style="width:85%;" [virtualScroll]="true" formControlName="evaluador_temporal"
                          [items]="ListaEvaluadoresProyectos" bindLabel="nombre" bindValue="id"
                          placeholder="Seleccionar el director del ante proyecto ">
                          <ng-template ng-option-tmp let-item="item">
                            <div style="white-space: normal!important;" title="{{item.nombre}} {{item.apellidos}}">
                              {{item.nombre}} {{item.apellidos}}</div>
                          </ng-template>
                        </ng-select>
                        <div (click)="AgregarEvaluadoresAnteProyectoFinalEdit();" title="Agregar" style="cursor: pointer;"
                          class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateAsignacionProyectoFinal.value.evaluador.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th style="width: 15%;">Acción</th>
                          <th style="width: 85%;">Evaluador</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of UpdateAsignacionProyectoFinal.value.evaluador">
                          <td>
                            <div *ngIf="data.bandera === 'UPDATE'" (click)="EliminarTemporalEvaluadorFinalEdit(data);" title="Eliminar"
                              style="cursor: pointer;text-align: center;" class="input-group-addon">
                              <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                            </div>
                            <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalEvaluadorFinalEdit2(data);" title="Eliminar"
                            style="cursor: pointer;text-align: center;" class="input-group-addon">
                            <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                          </div>
                          </td>
                          <td>{{data.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Fin carga evaluadores ante proyecto -->
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button (click)="UpdateProyectoFfinal();" type="button" class="btn btn-primary"
            data-dismiss="modal">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>
