<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px;">Proyectos públicos </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body" *ngIf="ListaProjects.length > 0">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" (click)="pageinaActual = 1" name="filtro" placeholder="Buscar..."
              [(ngModel)]="filtro">
          </div>
        </div>
        <div class="row">
          <div style="margin-top: 10px;" class="col-12"
            *ngFor="let data of ListaProjects | filter: filtro | paginate: { itemsPerPage: 10, currentPage: pageinaActual}  ">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h4 class="card-title m-0">{{data.titulo}}</h4>
              </div>
              <div class="card-body">
                <p class="card-text">{{data.resumen}}</p>
                <a style="float: right;color: blue;cursor: pointer;" class="card-link" [routerLink]="['/home/proyectos/detalle-buscador/'+data.id_documento_subido]">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="pageinaActual = $event">
        </pagination-controls>
      </div>
      <div class="card-body" *ngIf="ListaProjects.length <= 0">
        <div class="col-md-12">
          <div class="tab-content" style="text-align: center;">
            <div class="tab-empty">
              <h3>No se encuentran proyectos públicos para ser consultados</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
