<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px"><i style="cursor: pointer;" title="Atras" class="fa fa-fw fa-chevron-circle-left" [routerLink]="['/home/proyectos/tipos-entregas']"></i> Entrega de proyecto</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']" style="cursor: pointer">Inicio</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row" [hidden]="SubirTrabajo !== 'SI'">
    <form [formGroup]="NewForm" id="NewForm" autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <h5>{{NewForm.value.titulo}}</h5>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Descripción: </mat-label>
            <textarea oninput="this.value = this.value.split('/')" matInput formControlName="observaciones"
              placeholder="Descripción del proyecto"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="columns" style="width: 100%;">
            <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles}}</mat-label>
            <ng-template #newFile>
              <mat-label>Seleccionar el proyecto</mat-label>
            </ng-template>
            <input matInput disabled>
            <button mat-icon-button matSuffix (click)="fileInput.click()">
              <mat-icon>Seleccionar archivo</mat-icon>
            </button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file" accept=".pdf" #inputFile>
          </mat-form-field>
        </div>
        <div class="col-md-12" style="text-align: center;">
          <a class="btn btn-app bg-success" (click)="UploadProjects();">
            <i class="fas fa-save"></i> Entregar
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="historial">
    <div class="col-md-12" *ngIf="historial.DocumentoProyectoProyectoFinal.length > 0">
      <h4 style="text-align:center;">Historial  <br><a *ngIf="historial.estado_aprobacion === 'APROBADO'" style="color: green;">{{historial.estado_aprobacion}}</a></h4>
    </div>
    <div class="table-responsive" style="margin-top: 10px;" *ngIf="historial.DocumentoProyectoProyectoFinal.length > 0">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Acción</th>
            <th>Fecha entrega</th>
            <th>Fecha evaluada</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of historial.DocumentoProyectoProyectoFinal | paginate: { itemsPerPage: 5, currentPage: pageinaActual}  ">
            <td>
              <button data-toggle="modal" data-target="#modal-xl" (click)="VerProjects(data);" type="button"
                class="btn btn-primary btn-block"><i class="fas fa-eye"></i>
                Ver</button>
            </td>
            <td>{{data.fecha_creacion}}</td>
            <td>{{data.fecha_modificacion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="pageinaActual = $event">
    </pagination-controls>
  </div>
</div>
<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ver proyecto entregado</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-12">
            <p>{{NewForm.value.titulo}}</p>
          </div>
        <form [formGroup]="Temporal" id="Temporal" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Descripción: </mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Fecha entregada:</mat-label>
                <input formControlName="fecha_creacion" [type]="'text'" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <a [href]="Temporal.value.url_documento" target="_blank">
                <button type="button" class="btn btn-outline-primary btn-block"><i class="fa fa-file-pdf" style="float: left;font-size: 25px;"></i>Ver PDF</button>
              </a>
            </div>
            <div class="col-md-12" *ngIf="NotasHistorial.length <= 0">
              <h1 style="margin-top: 15px;text-align: center;font-size: 25px;">
                Pendiente por calificar proyecto
              </h1>
            </div>
            <div class="col-md-12" *ngIf="NotasHistorial.length > 0">
              <div  class="card-footer" style="width: 100% !important;text-align: center;margin-top: 10px;padding-bottom: 0px;
              padding-top: 0px;margin-bottom: 10px;">
                <a> Notas de evaluadores </a>
              </div>
              <div *ngFor="let data of NotasHistorial">
                <div class="col-md-12">
                  <label>Fecha evaluada:</label>
                  <p>{{data.fecha_creacion}}</p>
                </div>
                <div class="col-md-12">
                  <label>Observación de evaluador:</label>
                  <p>{{data.observacion_interna_evaluador}}</p>
                </div>
                <div class="col-md-12">
                  <label>Recomendaciones de evaluador:</label>
                  <p>{{data.recomendaciones}}</p>
                </div>
                <div class="col-md-12">
                  <label>Estado de calificación de proyecto:</label>
                  <p>{{data.nota}}</p>
                </div>
                <div class="card-footer" style="width: 100% !important;text-align: center;margin-top: 10px;padding-bottom: 0px;
                padding-top: 0px;margin-bottom: 10px;">
                  <a> ------------------- </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
  </div>
</div>
