<section class="login-page">
    <div class="login-box">
        <div  class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h3"><b>Proyecto de </b>grado</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Por favor inicie sesión</p>

                <form [formGroup]="FormularioLogin" id="FormularioLogin"  autocomplete="off" >
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Usuario: </mat-label>
                                <input formControlName="user" [type]="'number'" matInput placeholder="Ingresa el numero de cedula">
                                <mat-icon matSuffix> <span class="fas fa-user"></span></mat-icon>
                              </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Contraseña: </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <mat-icon  matSuffix (click)="hide = !hide" style="cursor: pointer;">
                                        <span *ngIf="hide" class="fa fa-eye"></span>
                                        <span *ngIf="!hide" class="fa fa-eye-slash"></span>
                                    </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" (click)="InisiarSesion();">Iniciar sesión</button>
                        </div>
                        <div class="col-md-12">
                          <p data-toggle="modal" data-target="#modal-lg" style="float:right;margin-bottom: 0px;margin-top: 16px;cursor: pointer;">Restablecer contraseña</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Restablecer contraseña</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="UpdatePassword" id="UpdatePassword" autocomplete="off">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field appearance="fill" style="width: 100%;">
                          <mat-label>Usuario: </mat-label>
                          <input formControlName="user" [type]="'number'" matInput placeholder="Ingresa el numero de cedula">
                          <mat-icon matSuffix> <span class="fas fa-user"></span></mat-icon>
                        </mat-form-field>
                  </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button (click)="PutUpdatePassword();" data-dismiss="modal" type="button"
                  class="btn btn-primary">Restablecer</button>
          </div>
      </div>
  </div>
</div>
