<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px;"><i style="cursor: pointer;" title="Atras" class="fa fa-fw fa-chevron-circle-left" [routerLink]="['/home/proyectos/tipo-evaluacion']"></i>Lista ante proyectos pendientes por evaluar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Total de ante proyectos ({{ListaProyectos.length}})</h3>
      </div>
      <div class="card-body" *ngIf="ListaProyectos.length > 0">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" (click)="pageinaActual = 1" name="filtro" placeholder="Buscar..."
              [(ngModel)]="filtro">
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 10px;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Acción</th>
                <th>Titulo</th>
                <th>Estudiantes en proyecto</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of ListaProyectos | filter: filtro | paginate: { itemsPerPage: 5, currentPage: pageinaActual}  ">
                <td><a style="cursor: pointer;color:blue;" [routerLink]="['/home/proyectos/evaluar-ante-proyecto/'+data.AnteProyectosSubidos.id]">Ver</a></td>
                <td>{{data.titulo}}</td>
                <td>{{data.StudentProjects.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="pageinaActual = $event">
        </pagination-controls>
      </div>
      <div class="card-body" *ngIf="ListaProyectos.length <= 0">
        <div class="col-md-12">
          <div class="tab-content" style="text-align: center;">
            <div class="tab-empty">
              <h3>No se encuentran ante proyectos pendientes por evaluar</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
