<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px">Lista de proyectos CRUD</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']" style="cursor: pointer">Inicio</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Lista de proyectos({{ListaProjects.length}})</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" (click)="pageinaActual = 1" name="filtro" placeholder="Buscar..."
              [(ngModel)]="filtro">
          </div>
          <div class="col-md-2">
            <button data-toggle="modal" data-target="#modal-lg" type="button" class="btn btn-primary btn-block"><i
                class="fas fa-users"></i> Crear</button>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 10px;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width:15%;">Acción</th>
                <th style="width:15%;">Estado</th>
                <th style="width:70%;">Titulo</th>
                <!-- <th style="width:20%;">Cant. Estudiantes</th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of ListaProjects | filter: filtro | paginate: { itemsPerPage: 5, currentPage: pageinaActual}  ">
                <td>
                  <button data-toggle="modal" data-target="#modal-xl" (click)="ClearUpdateProjects(data);" type="button"
                    class="btn btn-warning btn-block"><i class="fas fa-edit"></i>
                    Editar</button>
                </td>
                <td>{{data.estado}}</td>
                <td>{{data.titulo}}</td>
                <!-- <td>{{data.StudentProjects.length}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="pageinaActual = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear proyecto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NewProjects" id="NewProjects" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Título: </mat-label>
                <textarea matInput oninput="this.value = this.value.toUpperCase()" formControlName="titulo"
                  placeholder="Título del proyecto de grado." maxlength="250"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Descripción: </mat-label>
                <textarea matInput formControlName="descripcion"
                  placeholder="Descripción del proyecto de grado."></textarea>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" style="color: #626262;">Estudiantes: </label>
                <div class="input-group">
                  <ng-select style="width:85%;" [virtualScroll]="true" formControlName="estudiante_temporal"
                    [items]="ListaEstudiantes" bindLabel="nombre_completo" bindValue="id"
                    placeholder="Seleccione el estudiante a cargo del proyecto ">
                    <ng-template ng-option-tmp let-item="item">
                      <div style="white-space: normal!important;" title="{{item.nombre_completo}}">
                        {{item.nombre_completo}}</div>
                    </ng-template>
                  </ng-select>
                  <div (click)="AgregarEstudiante();" title="Agregar" style="cursor: pointer;"
                    class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive" style="margin-top: 10px;" *ngIf="NewProjects.value.estudiantes.length > 0">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="width: 15%;">Acción</th>
                    <th>Estudiante</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of NewProjects.value.estudiantes">
                    <td>
                      <div (click)="EliminarTemporal(data);" title="Eliminar"
                        style="cursor: pointer;text-align: center;" class="input-group-addon">
                        <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                      </div>
                    </td>
                    <td>{{data.nombre_completo}}</td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button [disabled]="NewProjects.invalid" data-dismiss="modal" (click)="RegistrarProjects();" type="button"
          class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="UpdateProjects" id="UpdateProjects" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Editar proyecto</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Estado: </mat-label>
                <select class="form-control" matNativeControl required formControlName="estado">
                  <option value="Activo">Activo</option>
                  <option value="Inactivo">Inactivo</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Titulo: </mat-label>
                <textarea matInput oninput="this.value = this.value.toUpperCase()" formControlName="titulo"
                  placeholder="Titulo del proyecto de grado." maxlength="250"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Descripción: </mat-label>
                <textarea matInput formControlName="descripcion"
                  placeholder="Descripción del proyecto de grado."></textarea>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" style="color: #626262;">Estudiantes: </label>
                <div class="input-group">
                  <ng-select style="width:85%;" [virtualScroll]="true" formControlName="estudiante_temporal"
                    [items]="ListaEstudiantes" bindLabel="nombre_completo" bindValue="id"
                    placeholder="Seleccione el estudiante a cargo del proyecto ">
                    <ng-template ng-option-tmp let-item="item">
                      <div style="white-space: normal!important;" title="{{item.nombre_completo}}">
                        {{item.nombre_completo}}</div>
                    </ng-template>
                  </ng-select>
                  <div (click)="AgregarEstudianteUpdate();" title="Agregar" style="cursor: pointer;"
                    class="input-group-addon"><i class="fa fa-plus-circle" style="font-size: 35px;color: #28a745;"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive" style="margin-top: 10px;" *ngIf="UpdateProjects.value.estudiantes.length > 0">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="width: 15%;">Acción</th>
                    <th style="width: 85%;">Estudiante</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of UpdateProjects.value.estudiantes">
                    <td>
                      <div *ngIf="data.bandera === 'NUEVO'" (click)="EliminarTemporalUpate(data);" title="Eliminar"
                        style="cursor: pointer;text-align: center;" class="input-group-addon">
                        <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                      </div>
                      <div *ngIf="data.bandera === 'ANTIGUO'" (click)="EliminarServer(data);" title="Eliminar"
                      style="cursor: pointer;text-align: center;" class="input-group-addon">
                      <i class="fa fa-trash" style="font-size: 20px;color: #fc0015;"></i>
                    </div>
                    </td>
                    <td>{{data.nombre_completo}}</td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button [disabled]="UpdateProjects.invalid" (click)="UpdateServerProjects();" type="button" class="btn btn-primary"
            data-dismiss="modal">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>
