<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a (click)="CerrarSesion();" class="nav-link" data-toggle="dropdown">
        <i class="fa fa-power-off"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link" style="text-align: center;">
    <!-- <img src="../../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8"> -->
    <span class="brand-text font-weight-light"><b>Proyectos</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a class="d-block" >{{usuario.nombre}}</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item" *ngIf="permisos.includes('list_user') || permisos.includes('admin_projects')">
          <a class="nav-link" style="cursor: pointer;">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Administración
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngIf="permisos.includes('list_user');">
              <a class="nav-link" style="cursor: pointer;" [routerLink]="['/home/administracion/usuarios']">
                <i class="far fa-circle nav-icon"></i>
                <p>Usuarios</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permisos.includes('admin_projects');">
              <a class="nav-link" style="cursor: pointer;" [routerLink]="['/home/administracion/projects-usuarios']">
                <i class="far fa-circle nav-icon"></i>
                <p>Admin de proyectos</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permisos.includes('asignar_usuarios');">
              <a class="nav-link" style="cursor: pointer;" [routerLink]="['/home/administracion/asignacion-projects']">
                <i class="far fa-circle nav-icon"></i>
                <p>Asignación de proyectos</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">Módulos</li>
        <li class="nav-item"  *ngIf="permisos.includes('entregar_tesis') || permisos.includes('publicar_tesis') || permisos.includes('evaluar_tesis')">
          <a class="nav-link cursor" style="cursor: pointer;">
            <i class="nav-icon far fa-file-pdf"></i>
            <p>Proyectos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngIf="permisos.includes('entregar_tesis')">
              <a style="cursor: pointer;" class="nav-link" style="cursor: pointer;" [routerLink]="['/home/proyectos/tipos-entregas']">
                <i class="far fa-circle nav-icon"></i>
                <p>Entregar </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permisos.includes('evaluar_tesis')">
              <a style="cursor: pointer;" class="nav-link" style="cursor: pointer;" [routerLink]="['/home/proyectos/tipo-evaluacion']">
                <i class="far fa-circle nav-icon"></i>
                <p>Evaluar </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permisos.includes('publicar_tesis')">
              <a style="cursor: pointer;" class="nav-link" style="cursor: pointer;" [routerLink]="['/home/proyectos/publicar']">
                <i class="far fa-circle nav-icon"></i>
                <p>Publicar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor" style="cursor: pointer;">
            <i class="nav-icon fa fa-search"></i>
            <p>Buscador
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a style="cursor: pointer;" class="nav-link" style="cursor: pointer;" [routerLink]="['/home/proyectos/listar-buscador']">
                <i class="far fa-circle nav-icon"></i>
                <p>Proyectos </p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
