<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px;">
            <a [routerLink]="['/home/proyectos/listar-buscador']" style="color:blue;">
              <i class="fas fa-arrow-alt-circle-left"></i>
            </a>
          Detalle del proyecto</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="sticky-top mb-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Publicación </h4>
        </div>
        <div class="card-body">
          <div class="col-12" style="padding-left: 0px;padding-right: 0px;">
            <span style="font-weight: bold;">Fecha publicación </span><br>
            <span class="label">{{FechaCreacion}}</span>
          </div>
          <div class="col-12" style="padding-left: 0px;padding-right: 0px;">
            <span style="font-weight: bold;">Autores</span><br>
            <span style="font-size: 12px;"  *ngFor="let data of estudiantes">{{data.nombre}}<br>
            </span>
            <span style="font-weight: bold;">Director</span><br>
            <span style="font-size: 12px;">{{NameDirector}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card card-primary">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 style="text-align:center;">{{titulo}}</h4>
          </div>
          <div class="col-12">
            <span style="font-weight: bold;">Descripción: </span><br>
            <p>{{resumen}}</p>
          </div>
          <div class="col-md-12"  *ngFor="let item of Recomendaciones let i = index">
            <span style="font-weight: bold;">Recomendación N° {{i+1}}: </span><br>
            <p>{{item.recomendaciones}}</p>
          </div>
          <div class="col-12">
            <div>
              <a target="_blank" [href]="url.changingThisBreaksApplicationSecurity">
                  <iframe style="width:100%;height:400px;" [src]="url" frameborder="0" allowfullscreen></iframe>
              </a>
              <p style="height: 60px;display: flex;align-items: center;justify-content: center;text-align: center;">
                  <a style="font-size:15px;" target="_blank" [href]="url.changingThisBreaksApplicationSecurity">VER &nbsp;</a>
              </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
