<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px;">Proyectos aprobados </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title">Lista de proyectos aprobados  total({{ListaProjects.length}})</h3>
          </div>
          <div class="card-body" *ngIf="ListaProjects.length > 0">
              <div class="row">
                  <div class="col-md-10">
                      <input type="text" class="form-control" (click)="pageinaActual = 1" name="filtro"
                          placeholder="Buscar..." [(ngModel)]="filtro">
                  </div>
              </div>
              <div class="table-responsive" style="margin-top: 10px;">
                  <table class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th style="width:10%;">Acción</th>
                              <th style="width:60%;">Titulo</th>
                              <th style="width:10%;">Estado </th>
                              <th style="width:10%;">Proyecto</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr
                              *ngFor="let data of ListaProjects | filter: filtro | paginate: { itemsPerPage: 5, currentPage: pageinaActual}  ">
                              <td *ngIf="data.publico ==='Privado'"><button (click)="RefresStatusProjects(data);"
                                      type="button" class="btn btn-warning btn-block"><i class="fa fa-retweet"></i>
                                      {{data.publico}}</button></td>
                              <td *ngIf="data.publico !=='Privado'"><button (click)="RefresStatusProjects(data);"
                                type="button" class="btn btn-default btn-block"><i class="fa fa-retweet"></i>
                                {{data.publico}}</button></td>
                              <td>{{data.titulo }}</td>
                              <td>{{data.estado}}</td>
                              <td>
                                <a [href]="data.url_documento" target="_blank">
                                  <button type="button" class="btn btn-primary btn-block"><i class="fa fa-file-pdf"></i>PDF</button>
                                </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"
                  (pageChange)="pageinaActual = $event"></pagination-controls>
          </div>
          <div class="card-body" *ngIf="ListaProjects.length <= 0">
            <div class="col-md-12">
              <div class="tab-content" style="text-align: center;">
                <div class="tab-empty">
                  <h3>No cuenta con proyectos de grado aprobados </h3>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
