<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 style="font-size: 20px;">Administración de usuarios</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de usuarios total({{ListaUsuarios.length}})</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" (click)="pageinaActual = 1" name="filtro"
                            placeholder="Buscar..." [(ngModel)]="filtro">
                    </div>
                    <div class="col-md-2">
                        <button (click)="AbrirModal();" data-toggle="modal" data-target="#modal-lg" type="button"
                            class="btn btn-primary btn-block"><i class="fas fa-users"></i> Crear</button>
                    </div>
                </div>
                <div class="table-responsive" style="margin-top: 10px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Estado</th>
                                <th>Usuario</th>
                                <th>Nombre completo</th>
                                <th>Rol</th>
                                <th>Correo electrónico</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of ListaUsuarios | filter: filtro | paginate: { itemsPerPage: 5, currentPage: pageinaActual}  ">
                                <td><button data-toggle="modal" data-target="#modal-xl" (click)="EditarUsuario(data);"
                                        type="button" class="btn btn-warning btn-block"><i class="fas fa-edit"></i>
                                        Editar</button></td>
                                <td>{{data.estado}}</td>
                                <td>{{data.user}}</td>
                                <td>{{data.nombre_completo}}</td>
                                <td>{{data.Role.nombre}}</td>
                                <td>{{data.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"
                    (pageChange)="pageinaActual = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="NewUsuario" id="NewUsuario" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Identificación: </mat-label>
                                <input formControlName="identificacion" [type]="'number'" matInput
                                    placeholder="Ingresa el numero de cedula">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Correo electrónico: </mat-label>
                                <input formControlName="email" [type]="'email'" matInput
                                    placeholder="Ingresa el correo electrónico">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Nombres: </mat-label>
                                <input formControlName="nombres" [type]="'text'" matInput oninput="this.value = this.value.toUpperCase()"
                                    placeholder="Primer y segundo nombre">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Apellidos: </mat-label>
                                <input formControlName="apellidos" [type]="'text'" matInput oninput="this.value = this.value.toUpperCase()"
                                    placeholder="Primer y segundo apellido">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Rol: </mat-label>
                                <select class="form-control" matNativeControl required formControlName="id_rol">
                                    <option *ngFor="let datos of ListaRoles" [value]="datos.id">{{datos.nombre}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Contraseña: </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">
                                    <span *ngIf="hide" class="fa fa-eye"></span>
                                    <span *ngIf="!hide" class="fa fa-eye-slash"></span>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="director_project">
                            <label class="form-check-label" for="exampleCheck1">Director de proyecto</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="evaluador_project">
                            <label class="form-check-label" for="exampleCheck2">Evaluador de proyecto</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button data-dismiss="modal" (click)="RegistrarUsusario();" type="button"
                    class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form [formGroup]="UpdateUsuario" id="UpdateUsuario" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">Editar usuario ({{UpdateUsuario.value.nombres}} {{UpdateUsuario.value.apellidos}})</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Estado: </mat-label>
                                <select class="form-control" matNativeControl required formControlName="estado">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Correo electrónico: </mat-label>
                                <input formControlName="email" [type]="'email'" matInput
                                    placeholder="Ingresa el correo electrónico">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Nombres: </mat-label>
                                <input formControlName="nombres" [type]="'text'" matInput oninput="this.value = this.value.toUpperCase()"
                                    placeholder="Primer y segundo nombre">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Apellidos: </mat-label>
                                <input formControlName="apellidos" [type]="'text'" matInput oninput="this.value = this.value.toUpperCase()"
                                    placeholder="Primer y segundo apellido">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Rol: </mat-label>
                                <select class="form-control" matNativeControl required formControlName="id_rol">
                                    <option *ngFor="let datos of ListaRoles" [value]="datos.id">{{datos.nombre}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Contraseña: </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Campo opcional">
                                <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">
                                    <span *ngIf="hide" class="fa fa-eye"></span>
                                    <span *ngIf="!hide" class="fa fa-eye-slash"></span>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="director_project">
                            <label class="form-check-label" for="exampleCheck1">Director de proyecto</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="evaluador_project">
                            <label class="form-check-label" for="exampleCheck2">Evaluador de proyecto</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button (click)="UpdateUser();" type="button" class="btn btn-primary" data-dismiss="modal">Editar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
