<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="font-size: 20px;"><i style="cursor: pointer;" title="Atras" class="fa fa-fw fa-chevron-circle-left"
            [routerLink]="['/home/proyectos/lista-evaluar-ante-proyecto']"></i>Evaluar ante proyecto</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <form [formGroup]="NewForm" id="NewForm" autocomplete="off" style="width: 100%;">
      <div class="row">
        <div class="col-md-6">
          <label>Titulo </label>
          <h5>{{NewForm.value.titulo}}</h5>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Descripción: </mat-label>
            <textarea readonly oninput="this.value = this.value.split('/')" matInput formControlName="descripcion"
              placeholder="Descripción del proyecto ante proyecto"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <label>Fecha entregado: </label>
          <input type="text" readonly formControlName="fecha_entregado" class="form-control">
        </div>
        <div class="col-md-6" style="margin-top: 30px;">
          <a [href]="NewForm.value.url_documento" target="_blank">
            <button type="button" class="btn btn-outline-primary btn-block"><i class="fa fa-file-pdf"
                style="float: left;font-size: 25px;"></i>Ver PDF</button>
          </a>
        </div>
        <div class="card-footer" style="width: 100% !important;text-align: center;margin-top: 10px;padding-bottom: 0px;
        padding-top: 0px;margin-bottom: 10px;">
          <a> ------------------- </a>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Observación evaluador: </mat-label>
            <textarea oninput="this.value = this.value.split('/')" matInput
              formControlName="observacion_evaluador" placeholder="Agregar observación evaluador "></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Agregar recomendaciones: </mat-label>
            <textarea oninput="this.value = this.value.split('/')" matInput
              formControlName="recomendaciones_futuras" placeholder="Agregar recomendaciones "></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Estado de calificación de proyecto: </mat-label>
            <select class="form-control" matNativeControl required formControlName="nota_evaluador">
              <option value="APROBADO">APROBADO</option>
              <option value="APROBADO CON CORRECCIONES">APROBADO CON CORRECCIONES</option>
              <option value="PENDIENTE DE APROBACION">PENDIENTE DE APROBACION</option>
              <option value="NO APROBADO">NO APROBADO</option>
              <option value="ANULADO">ANULADO</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <a>
            <button data-toggle="modal" data-target="#modal-xl" style="margin-top: 10px;" type="button"
              class="btn btn-outline-primary btn-block">Ver historial</button>
          </a>
        </div>
        <div class="col-md-12" style="text-align: center;margin-top: 20px;">
          <a class="btn btn-app bg-success" (click)="EvaluarProject();">
            <i class="fas fa-save"></i> Guardar
          </a>
        </div>
      </div>
    </form>
  </div>
 <!-- Inicio de Modal para ver historial del ante proyectos subidos-->
<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Historial de ante proyectos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="background-color: #dbdbdb47;margin-top: 10px;" class="row" *ngFor="let item of historial | filter: Filter let i = index">
          <div class="col-md-12">
            <div class="form-group">
              <label>Titulo del proyecto:</label>
                <div class="input-group date">
                    <p>{{NewForm.value.titulo}}</p>
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Descripción del ante proyecto entregado N°{{i+1}}:</label>
                <div class="input-group date">
                    <p>{{NewForm.value.descripcion}}</p>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Fecha entregada:</label>
                <div class="input-group date">
                    <p>{{item.fecha_creacion}}</p>
                </div>
            </div>
          </div>
          <!-- <div class="col-md-6" *ngIf="item.estado !== null">
            <div class="form-group">
              <label>Estado:</label>
                <div class="input-group date">
                    <p>{{item.estado}}</p>
                </div>
            </div>
          </div> -->
          <div class="col-md-6">
            <a [href]="item.url_documento" target="_blank">
              <button style="margin-top: 10px; width: 80%;" type="button" class="btn btn-outline-primary btn-block"><i
                  class="fa fa-file-pdf" style="float: left;font-size: 25px;"></i>Ver PDF</button>
            </a>
          </div>
          <div  class="card-footer" style="width: 100% !important;text-align: center;margin-top: 10px;padding-bottom: 0px;
          padding-top: 0px;margin-bottom: 10px;">
            <a> Notas de evaluadores </a>
          </div>
          <div *ngIf="item.notas.length > 0">
            <div *ngFor="let data of item.notas">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Observación de evaluador:</label>
                    <div class="input-group">
                        <p>{{data.observacion_interna_evaluador}}</p>
                    </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="data.recomendaciones !== null">
                <div class="form-group">
                  <label>Recomendaciones de evaluador:</label>
                    <div class="input-group">
                        <p>{{data.recomendaciones}}</p>
                    </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Estado de calificación de proyecto:</label>
                    <div class="input-group">
                        <p>{{data.nota}}</p>
                    </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Fecha:</label>
                    <div class="input-group">
                        <p>{{data.fecha_creacion}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
  </div>
</div>
<!-- Fin de Modal para ver historial de proyectos subidos-->
</div>
