<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Tablero</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']" style="cursor: pointer;">Inicio</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:120px;">
    <div class="col-md-12">
        <div class="tab-content" style="text-align: center;">
            <div class="tab-empty">
              <h3>Bienvenido al aplicativo web gestor de proyectos</h3>
            </div>
          </div>
    </div>
</div>
